<% if user_signed_in? %>
  <div id="__current_game" data-game="PK-index"></div>
  <div class="page-header">
  <img src="/assets/back2.jpg"></img>
  <div style="text-align:center">
  <h1 style="margin-bottom: 0px"><%= @product_click.food.name %></h1>
  <h2 style="margin-bottom: 0px">Price: <span class="label label-success"><%= @product_click.food.try(:price) %>VND</span></h2><br/>
  <% if @product_click.winer_id %>
  <h4 id="realwinner" style="color:green"><%= link_to @product_click.user.name, @product_click.user.facebook_link, target: "_blank" %> is the WINNER with <%= @product_click.user.history_clicks.product(@product_click).count %> clicks!</h4>
  <% else %>
  <h4 id="winner" style="color:green">Who will get this amazzzzing thing???</h4>
  <% end %>
  <% if @product_click.food.url %>
    <%= image_tag @product_click.food.url, width: "350px", style: "border: 2px green solid" %><br/><br/>
  <% end %>
  You clicked <span class="label label-warning" id="numberofclick"><%= @count %></span> time(s)<br/><br/>
  Your current balance is <span class="label label-success" id="currentammount"><%= current_user.amount %>VND</span><br/><br/>
  <span class="label label-info" id="whomore"><%= current_user.count_number_of_bigger @product_click %></span> user(s) clicked more than you<br/><br/>
  <% unless @product_click.winer_id %>
  <%= form_for @product_click, remote: true do |f| %>
    <%= f.submit value: "+1000VND for it", class: "btn btn-primary btn-lg submit_product_click" %>
  <% end %>
  <% end %>
  <% if current_user.is_admin %>
     <button id="get_result" class="btn btn-primary btn-lg">END IT NOW</button>
  <% end %>
  </div>
<% end %>
<script>
$("#get_result").click(function(){
  $.ajax({
    type: "GET",
    dataType: "json",
    data: {
      id: <%= @product_click.id %>
    },
    url: "/get_click_result",
    success: function(data){      
    }
  });
});
function update_info(){
  $("#whomore").html("???");
}
function run_end_game(){
  $(".submit_product_click").hide(300);
  $("#winner").hide().html("Turn ended! Reload to know result!").show(300);
}
new Chat.Controller("<%= SOCKET_URL %>/websocket", true);
</script>
