<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th>Action</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user.facebook_link, target: "_target" %></td>
    <td><%= user.amount %>VND</td>
    <td>
      <%= text_field_tag "#{user.id}", "", style: "margin: 0px" %>
      <%= link_to "Add", "#", id: "#{user.id}", method: :put, class: "btn btn-success" %>
    </td>
  </tr>
<% end %>
</table>
<script>
$(function(){
  $("input").change(function(){
    $(this).siblings("a").attr("href","/framgiaers/"+$(this).attr("id")+"?money="+$(this).val());
  });
})
</script>
