.product_click_details{
  text-align: center;
  height: 450px;
  background-image: url("http://2.bp.blogspot.com/-ns9TfeNPexY/UOf2B-hJSPI/AAAAAAAAD8g/nU-zXWpgtRg/s1600/A+Dreamy+World+DUALSCREEN+Wallpapers+14.jpg");
  .click_now{
    margin: 20px 0 20px 0;
    .submit_product_click{
      background-color: darksalmon;
    }
  }
}
.notice_click{
  margin: 20px 0 20px 0;
  background-color: antiquewhite;
  p{
    color: green;
    font-family: 20px;
  }
}
.result{
  color: blue;
}